.head {
    display: flex;
    justify-content:space-between;
  

   
}


hr {
    border: 1px #0b0000 solid;
    border-radius: 5px;
    margin-top: 5px;

    
}

.footer {
    margin-left: ;
    position: fixed;
    bottom: 0%;
    background-color: #0f1951;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
    padding: 10px;
    
    color: #fcfcfc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mid {

    
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
   padding:auto;
    width:100%;
    padding-bottom: 5px;
    background-color: #ffffff;
    /* border: #c4c4c4 1px solid; */
}

input[type=text],
input[type=number] {

    width: 100%;
    padding: px 60px;
    margin: 18px 0;
    display: inline-block;
    border: 2px solid #ececec;
    border-bottom-color: #0e0606;
    box-sizing: border-box;
    font-size: 30px;
}

#captcha {
    width: 100%;
    padding: 5px 15px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #231d1d;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 30px;
    text-align: -webkit-center;
}

#otp {
    border-radius: 5px;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 2px solid #323041;
    color: white;
    background: linear-gradient(to right, #1c1c54, #3676c4);
    box-sizing: border-box;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 8px;
    font-size: 20px;
}

#login {
    border-radius: 5px;
    width: 100%;
    padding: 1px px;
    margin: 10px 0px;
    display: inline-block;
    border: 2px solid #323041;
    color: white;
    background-color: #1c1c54;
    box-sizing: border-box;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
@media screen and (width > 1023px) {
    .mid { 
        padding:0px 250px;

}
       .footer {
    
    font-size: 20px;
    
}
}
@media screen and (width > 1439px) {
    .mid { 
        padding:0px 400px;

}
    .footer {
    
    font-size: 20px;
    
}
}
